body,
html {
	overflow: hidden;
}
.mainContent {
	min-height: 100vh;
	padding-top: 88px;
}
*:not(i) {
	font-family: "Poppins", sans-serif !important;
	font-weight: 400;
}

.h-1px {
	height: 1px !important;
}
.pt-2px {
	padding-top: 2px;
}
.pt-4px {
	padding-top: 4px !important;
}
.mb-2px {
	margin-bottom: 2px;
}
.mb-4px {
	margin-bottom: 4px !important;
}
.ml-5px {
	margin-right: 5px;
}
.mr-5px {
	margin-left: 5px;
}
.ml-7px {
	margin-right: 7px;
}
.mr-7px {
	margin-left: 7px;
}
.ml-10px {
	margin-right: 10px;
}
.mr-10px {
	margin-left: 10px;
}
.text-justify {
	text-align: justify;
}

.containerEdit {
	max-width: 95% !important;
}

.rounded-5px {
	border-radius: 5px !important;
}
.rounded-9px {
	border-radius: 9px !important;
}
.rounded-8px {
	border-radius: 8px !important;
}
.rounded-10px {
	border-radius: 10px !important;
}
.rounded-12px {
	border-radius: 12px !important;
}
.rounded-15px {
	border-radius: 15px !important;
}
.rounded-18px {
	border-radius: 18px !important;
}
.rounded-20px {
	border-radius: 20px !important;
}
.rounded-25px {
	border-radius: 25px !important;
}

.btn-shadow {
	box-shadow: 0px 4px 20px 0px rgb(0 0 0 / 10%);
}
.card-shadow {
	box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.06),
		0px 10px 15px 0px rgba(0, 0, 0, 0.03) !important;
}

.cursor-pointer {
	cursor: pointer;
}

.card-overlay {
	background-color: #0000006e;
	backdrop-filter: blur(8px);
	transition: all 0.3s ease-in-out !important;
}

.w-max-content {
	width: max-content;
}

.direction-initial {
	direction: initial;
}
.direction-rtl {
	direction: rtl;
}
.direction-ltr {
	direction: ltr;
}
.letter-spacing-6px {
	letter-spacing: 6px;
}

.cart__offcanvas {
	width: 570px !important;
	max-width: 90% !important;
}
.mainNavbar__offcanvas {
	@media (max-width: 992px) {
		max-width: 90% !important;
	}
	@media (min-width: 992px) {
		width: 570px !important;
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	.containerEdit {
		max-width: 92% !important;
	}
	.containerEdit-mealDetails {
		max-width: 92% !important;
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.containerEdit {
		max-width: 90% !important;
	}
	.containerEdit-mealDetails {
		max-width: 90% !important;
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.containerEdit {
		max-width: 88% !important;
	}
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
	.containerEdit {
		max-width: 1300px !important;
	}
}

.up-down-box {
	animation: up-down 2s ease-in-out infinite;
}

@keyframes up-down {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-15px);
	}
}

// stylling
.btn-primary {
	--bs-btn-color: #fff !important;
	--bs-btn-hover-color: #fff !important;
}
.btn:hover {
	--bs-btn-color: #fff !important;
	--bs-btn-hover-color: #fff !important;
}
