$utilities: ();
$utilities: map-merge(
	(
		"opacity": (
			property: opacity,
			values: (
				10: 0.1,
				25: 0.25,
				30: 0.3,
				50: 0.5,
				70: 0.7,
				75: 0.75,
			),
		),
	),
	$utilities
);

// scss-docs-start spacer-variables-maps
$spacer: 1rem;
$spacers: (
	0: 0,
	2: $spacer * 0.125,
	4: $spacer * 0.25,
	5: $spacer * 0.3125,
	7: $spacer * 0.4375,
	8: $spacer * 0.5,
	9: $spacer * 0.5625,
	10: $spacer * 0.625,
	13: $spacer * 0.8125,
	15: $spacer * 0.9375,
	20: $spacer * 1.25,
	25: $spacer * 1.5625,
	22: $spacer * 1.375,
	30: $spacer * 1.875,
	35: $spacer * 2.1875,
	40: $spacer * 2.5,
	44: $spacer * 2.75,
	48: $spacer * 3,
	50: $spacer * 3.125,
	60: $spacer * 3.75,
	70: $spacer * 4.375,
	80: $spacer * 5,
	90: $spacer * 5.625,
	100: $spacer * 6.25,
	120: $spacer * 7.5,
	150: $spacer * 9.2,
	210: $spacer * 13.125,
	250: $spacer * 15.625,
);
// scss-docs-end spacer-variables-maps

$border-widths: (
	1: 1px,
	2: 2px,
	3: 3px,
	4: 4px,
	5: 5px,
	12: 12px,
);

.bg-opacity-70 {
	--bs-bg-opacity: 0.7 !important;
}
.text-gray-200 {
	color: $gray-200;
}
.text-gray-300 {
	color: $gray-300;
}
.text-gray-400 {
	color: $gray-400;
}
.text-gray-500 {
	color: $gray-500;
}
.text-gray-600 {
	color: $gray-600;
}
.text-gray-800 {
	color: $gray-800;
}
.text-gray-900 {
	color: $gray-900;
}
.bg-gray-200 {
	background-color: $gray-200;
}
.bg-gray-500 {
	background-color: $gray-500;
}
.bg-gray-300 {
	background-color: $gray-300;
}
.bg-gray-600 {
	background-color: $gray-600;
}
.bg-f6 {
	background-color: #f6f7fb;
}
.form-floating {
	> label {
		top: -3px !important;
	}
}

.btn-lg {
	height: 48px;
}
.btn-sm {
	height: 38px;
}

// Scroll bar
*::-webkit-scrollbar {
	width: 5px;
	height: 3px;
}
*::-webkit-scrollbar-thumb {
	background-color: $primary;
	border-radius: 2px;
}
