$enable-negative-margins: true;
$enable-dark-mode: false;
$primary: #fb2e86;
$secondary: #f1f0ff;
$success: #3ab137;
$gray-200: #eaeaea;
$gray-300: #bababa;
$gray-400: #c7c7c7;
$gray-500: #8d8d8d;
$gray-600: #707070;
$gray-800: #4d4d4d;
$gray-900: #7b7b7b;
$form-floating-height: 48px;
$input-border-radius: 9px;
$input-border-color: #d9d9d966;
$bs-btn-hover-color: #fff;
