$primary: #fb2e86;
$secondary: #f1f0ff;
$gray-600: #707070;
$enable-dark-mode: false;
$enable-negative-margins: true;
$gray-500: #ebebeb;
// $form-floating-height: 48px;
// $input-border-radius: 9px;
// $input-border-color: #d9d9d966;
