$primary: #CF15A5;
$secondary: #17DD3A;
$gray-600: #52525b;
$form-floating-height: 48px;
$input-border-radius: 9px;
$input-border-color: #d9d9d966;
$enable-dark-mode: false;
$enable-negative-margins: true;
$gray-500: #ebebeb;
