.productreviews {
	&__title {
		background-color: #f1f0ff;
		min-height: 68px;
		&--side {
			height: 52px;
			width: 6px;
			border-top-right-radius: 8px;
			border-bottom-right-radius: 8px;
		}
	}
	&__result {
		width: 180px;
		height: 180px;
	}
	.nav-pills-reviews {
		.nav-link.active {
			border: 1px solid $info !important;
			color: $info !important;
		}
	}
}
