.productDetails {
	.optionOne {
		&__input:checked ~ .optionOne__label {
			background-color: rgba($primary, 0.25) !important;
			color: $primary !important;
		}
		&__label {
			min-width: 120px;
			min-height: 60px;
			--bs-border-opacity: 0.5;
		}
	}
	.counter {
		.count {
			width: 178px;
			outline: none;
		}
	}
}
