@import "../assets/variables";
.mainNavbar {
	min-height: 88px;
	&__link {
		border-bottom: 3px solid transparent;
		transition: all 0.3s ease-in-out;
		&:hover {
			color: $primary !important;
		}
	}
	&__link.active {
		color: $primary !important;
		@media (min-width: 992px) {
			border-bottom: 3px solid $primary;
			font-weight: 700;
		}
	}
	.dropdown-menu__settings {
		min-width: 112px;
	}
}

.scrolled {
	backdrop-filter: blur(10px);
}
