@import "../assets/variables";
$themeColor: #000;
@at-root {
  :root {
    --swiper-navigation-size: 20px;
    /*
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 10px;
  --swiper-navigation-color: var(--swiper-theme-color);
  */
  }
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
	right: var(--swiper-navigation-sides-offset, -2px);
	left: auto;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
	left: var(--swiper-navigation-sides-offset, -2px);
	right: auto;
}
@import "../../node_modules/swiper/swiper.scss";
